<?xml version="1.0" ?>
<!--
/**
 * @package     ISN\WebserviceCore
 * @copyright   Copyright © Integrated Supply Network.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="ISN_WebserviceCore" setup_version="0.1.0"></module>
</config>
